.container {
    text-align: center;
    margin-top: 20px;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    margin: auto;
}

.curtain {
    position: absolute;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 2;
    transform-origin: center center;
    overflow: hidden;
    width: 0%;
}

.revealed {
    width: 100%;
    opacity: 1;
}

.curtainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center center;
    box-shadow: none;
}

.revealed .curtainImage {
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
}

.wallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.revealButton {
    background: #00000078;
    padding-top: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid #22222282;
    align-content: center;
    border-radius: 50%;
    box-shadow: 6px 8px 10px #000000c2;
    position: absolute;
    top: 50%;
    z-index: 2;
    right: 5%;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(100px);
    color: #fff;
}