.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000005c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    max-width: 980px;
    max-height: 80vh;
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 9px 10px #000000;
    position: relative;
    background-color: #fff;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.left {
    flex: 1;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input,
.textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.textarea {
    height: 100px;
}

.submitButton {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submitButton:hover {
    background: #0056b3;
}

.quote {
    font-size: 22px;
    font-weight: bold;
}