.header {
    display: flex;
    padding: 1rem;
}

.logo {
    align-content: center;
}

.w_full {
    display: block;
    width: 100%;
}

.upper_bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid green;
    margin: 0 15px;
    border-top: 0;
    border-right: 0;
}

.contact_bar {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    margin: 0.3rem;
}

.d_flex {
    display: flex;
}

.nav_bar {
    display: grid;
    width: 100%;
    justify-content: center;
    border: 1px solid green;
    margin: 0 15px;
    border-bottom: 0;
    border-top: 0;
    align-content: center;
}

.link {
    display: flex;
    gap: 2rem;
}

.link li {
    list-style-type: none;
}

.btn {
    margin: 7px 0;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 0;
}