.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    align-content: center;
}

.w_full {
    display: block;
    width: 100%;
}

.upper_bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid green;
    margin: 0 15px;
    border-top: 0;
    border-right: 0;
}

.contact_bar {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    margin: 0.3rem;
}

.d_flex {
    display: flex;
}

.nav_bar {
    display: grid;
    width: 100%;
    justify-content: center;
    border: 1px solid green;
    margin: 0 15px;
    border-bottom: 0;
    border-top: 0;
    align-content: center;
}

.link {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.link li {
    list-style-type: none;
}

.btn {
    margin: 7px 0;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 0;
}

/** New Elements */
.bars {
    height: 40px;
    width: 50px;
    fill: var(--primaryColor);
    cursor: pointer;
}

.justify_center {
    justify-self: center;
}

.mobile_view {
    position: absolute;
    height: 95vh;
    width: 100%;
    background: white;
    padding: 2rem 0;
}

@media (max-width: 768px) {
    .link {
        gap: 2rem;
        flex-direction: column;
    }

    .contact_bar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .justify_center {
        margin: 2rem 0;
    }
}