.container {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-between;
    max-width: 920px;
    padding: 20px;
}

.w_half {
    width: 50%;
}

.img {
    width: 50%;
    text-align: right;
    place-self: end;
}

.btn_container {
    width: fit-content;
    margin: 1rem 0;
    box-shadow: 6px 8px 12px 0px black;
}

.active_btn {
    border: 0;
    background: green;
    padding: 5px 15px;
    height: 2.5rem;
    color: white;
    cursor: pointer;
}

.inactive_btn {
    border: 0;
    background: white;
    padding: 5px 15px;
    height: 2.5rem;
    color: black;
    cursor: pointer;
}