.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--primaryColor);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--secondaryColor);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Quotes Section */

.quotes_box {
  background: #004780d6;
  padding: 2rem 1rem;
  width: 100%;
}

.quotes_box p {
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
  max-width: 1220px;
  font-size: x-large;
}

/* Opportunity */

.opportunity_box {
  display: flex;
  gap: 10px;
  margin: 2rem;
}

.opportunity_title {
  font-size: xxx-large;
  width: 40%;
  align-content: center;
}

.opportunity_card {
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  margin: 1rem 0;
  box-shadow: 5px 8px 15px rgba(128, 128, 128, 0.449);
}

.opportunity_card button {
  align-self: flex-end;
  color: green;
  border: 0;
  background: transparent;
}

.partner_box {
  width: 100%;
  justify-items: center;
  margin: 10rem 1rem;
}

.partner_list {
  gap: 50px;
  display: flex;
  margin: 1rem 2rem;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

/* Hide scrollbar for WebKit-based browsers */
.partner_list::-webkit-scrollbar {
  display: none;
}

.sector_div {
  width: -webkit-fill-available;
  display: flex;
  background: antiquewhite;
  border-top-left-radius: 10rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 10rem;
  margin: 2rem;
  padding: 5rem;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

.sector_box {
  display: flex;
  flex-wrap: wrap;
}

.sector_card {
  background: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 1rem;
  justify-items: center;
}

.blog_box {
  margin: 5rem 1rem;
  max-width: 1280px;
  padding: 3rem;
  border: 1px solid red;
  border-radius: 1rem;
  box-shadow: 8px 8px 16px #ff000075;
}

.blog_head {
  display: flex;
  gap: 3rem;
}

.blog_head img {
  width: 100%;
  height: auto;
}

.blog_head h1 {
  font-size: xxx-large;
  padding: 1rem 0;
}

.blog_tail {
  display: flex;
  justify-content: space-between;
}

.testimonial_list {
  display: flex;
  max-width: 1280px;
}

.testimonial_div {
  display: flex;
  gap: 2rem;
  max-width: 50%;
  padding: 2rem;
  margin: 3rem 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.testimonial_div img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.testimonial_page {
  display: flex;
  gap: 10px;
  justify-self: center;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: blue;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}