.sliderContainer {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 80%;
    padding: 4rem 0;
}

.slideContent {
    width: 150px;
    /* Fixed width for slides */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: lightblue;
    border-radius: 10px;
}

.slide {
    justify-items: center;
}

/* Navigation Buttons */
.navBtn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.prevBtn {
    left: -50px;
}

.nextBtn {
    right: -50px;
}