.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5rem 0;
    width: 100%;
}

.cards {
    display: flex;
    gap: 55px;
    overflow: visible;
}

.card {
    border: 1px solid green;
    background: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0003;
    width: 380px;
    transition: transform 0.4s ease-in-out;
    min-height: 18rem;
    align-content: center;
}

.activeCard {
    transform: scale(1.2);
    border: 1px solid red;
}

.title {
    font-size: 18px;
    margin-bottom: 2rem;
}

.description {
    font-size: 14px;
    margin-bottom: 3rem;
    color: #555;
}

.cardButton {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.cardButton:hover {
    background-color: #218838;
}

.button {
    background: #00000078;
    padding-top: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid #22222282;
    align-content: center;
    border-radius: 50%;
    box-shadow: 6px 8px 10px #000000c2;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}