.container {
    display: flex;
    width: 100%;
    gap: 20px;
    margin: 2rem;
    padding: 1rem 2rem;
    background: rgba(0, 0, 255, 0.898);
}

.videoRow {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    flex: 1;
}

.video {
    width: 100px;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.activeVideo {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.details {
    flex: 1;
    padding: 20px;
    width: 40%;
    background: #f4f4f4;
    border-radius: 10px;
    border: 1px solid white;
}